{% load static %}
<html>
<head>
<style>
body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(65, 105, 225, 0.7
  );
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
</style>
</head>
<body>

<ul>
  <li><a href="{% url 'index' %}">Home</a></li>
  <li><a href="/about">About Us</a></li>
  <li><a href="/register">Registration</a></li>
  <li><a href="user_login">Login</a></li>
  <li><a href="/admin">Admin Login</a></li>
</ul>



</body>
</html>
