{% extends 'usernavbar.html' %}
{% load static %}
{% block main %}
<div class="pagetitle">
    <h1>Search Notes</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
            <li class="breadcrumb-item active">Search Notes</li>
        </ol>
    </nav>
</div>

            <div class="row">
                <div class="radius-15 col-xl-12 mx-auto">

                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <h4 class="mb-0">Search Notes</h4>
                            </div>
                            <hr>
                            <form method="post">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label class="form-label">Search By Notes Category</label>
                                    <input type="text" name="search" placeholder="Enter Notes Category"
                                           class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <button type="submit" class="btn btn-primary px-5">Search</button>
                                </div>
                            </form>
                        </div>

                        {% if notes %}
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Tags</th>
                                    <th scope="col">Notes</th>
                                    <th scope="col">Creation Date</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for i in notes %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{i.category.categoryName}}</td>
                                    <td>
                                        {% for tag in i.tags.split %}
                                        <span class="badge bg-secondary">{{ tag }}</span>
                                        {% endfor %}
                                    </td>
                                    <td>{{ i.noteDescription|truncatechars:70  }}</td>
                                    <td>{{i.CreationDate}}</td>
                                    <td><a href="{% url 'viewNotes' i.id %}" class="btn btn-success">View</a></td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}